*.htm
*.o
*.d
*.out
*.crf
*.hex
*.bin
*.crc
*.elf
*.axf
*.dep
*.lnp
*.map
*.lst
*.bak
*.pyc
*.iex
*.htm
*._ia
*.__i
*.scvd
*.dbgconf
*.uvopt
*.uvgui.*
*.uvoptx
*.uvguix.*
**/build
JLink*
.code_review_properties
.settings/
Debug*/
Release*/
output*/
